<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Projeto Upload / Download - GovBR</title>
</head>
<body>
   <div>
     <h3>Projeto Upload / Download - GovBR</h3>
     <form id="uploadFiles" name="uploadFiles" method="post" th:action=@{/uploadFiles} encType="multipart/form-data">
       <input type="file" name="files" multiple required />
       <button type="submit">Submit</button>
     </form>
   </div>
   
   <div>
     <h3>Lista de Arquivos</h3>
     <table>
       <thead>
         <tr>
           <th>Id</th>
           <th>Nome</th>
           <th>Arquivo</th>
         </tr>
       </thead>
       <tbody>
         <tr th:each="doc:${docs}">
           <td th:text="${doc.Id}" />
           <td th:text="${doc.docName}"/>
           <td><a th:href="@{'/downloadFile/'+${doc.id}}">Download</a></td>
         </tr>
       </tbody>
     </table>
   </div>

</body>
</html>